<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>The ONE在线钢琴陪练</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
           <div class="m-confirm">

               <h1 class="title">
                   25分钟课程20次
               </h1>
               <div class="price">
                   <p class="point">¥1299</p>
               </div>
               <div class="info">
                   <p>陪练时长：<span>25分钟</span></p>
                   <p>陪练次数：<span>20次</span></p>
                   <p>陪练老师：<span>不固定</span></p>
               </div>
               <div class="btn-con">
                   <button class="btn">已确认以上信息，立即支付</button>
                   <p class="m-info">点击“确认支付”按钮，即表示您阅读并同意<a href="#">《那个啥oo协议》</a></p>
               </div>
           </div>
        </div>
    </body>
</html>