<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>预约正式课</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
            <div class="m-sec">
                <div class="timepick-radio flex" id="class">
                    <div class="line-four">
                        <input type="radio" name="time" value="q" id="x"><label class="default" for="x">25分钟课</label>
                    </div>
                    <div class="line-four">
                        <input type="radio" name="time" value="w" id="y"><label class="default" for="y">45分钟课</label>
                    </div>
                </div>
            </div>
            <div class="m-sec">
                <h2 class="title">选择上课日期：</h2>
                <div class="timepick-radio flex" id="time">
                    <div class="line-four">
                        <input type="checkbox" name="time" value="q" id="1">
                        <label class="default disabled" for="1">
                            <p>星期五</p>
                            <p>3月24日</p>
                        </label>
                    </div>
                    <div class="line-four">
                        <input type="checkbox" name="time" value="w" id="2">
                        <label class="default" for="2">
                            <p>星期五</p>
                            <p>3月24日</p>
                        </label>
                    </div>
                    <div class="line-four">
                        <input type="checkbox" name="time" value="e" id="3">
                        <label class="default" for="3">
                            <p>星期五</p>
                            <p>3月24日</p>
                        </label>
                    </div>
                    <div class="line-four">
                        <input type="checkbox" name="time" value="r" id="4">
                        <label class="default" for="4">
                            <p>星期五</p>
                            <p>3月24日</p>
                        </label>
                    </div>
                    <div class="line-four">
                        <input type="checkbox" name="time" value="t" id="5">
                        <label class="default" for="5">
                            <p>星期五</p>
                            <p>3月24日</p>
                        </label>
                    </div>
                    <div class="line-four">
                        <input type="checkbox" name="time" value="y" id="6">
                        <label class="default" for="6">
                            <p>星期五</p>
                            <p>3月24日</p>
                        </label>
                    </div>
                </div>
            </div>
            <div class="m-sec">
                <h2 class="title">选择开始时间：</h2>
                <div class="timepick-radio flex" id="game">
                    <div class="line-four">
                        <input type="checkbox" name="time" value="u" id="7"><label class="default" for="7">10:00</label>
                    </div>
                    <div class="line-four">
                        <input type="checkbox" name="time" value="i" id="8"><label class="default" for="8">11:00</label>
                    </div>
                    <div class="line-four">
                        <input type="checkbox" name="time" value="o" id="9"><label class="default" for="9">12:00</label>
                    </div>
                    <div class="line-four">
                        <input type="checkbox" name="time" value="p" id="0"><label class="default disabled" for="0">13:00</label>
                    </div>
                    <div class="line-four">
                        <input type="checkbox" name="time" value="a" id="a"><label class="default" for="a">14:00</label>
                    </div>
                    <div class="line-four">
                        <input type="checkbox" name="time" value="s" id="c"><label class="default" for="c">15:00</label>
                    </div>
                </div>
            </div>
            <div class="m-sec">
                <h2 class="title">陪练曲谱：</h2>
                <p class="m-info">拍照上传陪练曲谱，如果曲谱不在手边，可以稍后上传</p>
            </div>
            <div class="m-sec">
                <h2 class="title">备注（选填）</h2>
                <input type="text" name="remark" placeholder="可备注您的需求（如纠错、强弱处理等）">
            </div>
            <div class="m-sec">
                <button class="btn">预约</button>
            </div>
        </div> 
    </body>
</html>