<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>The ONE在线钢琴陪练</title>
    </head>
    <body style="background-color: #f4f4f7">
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="grey-bd">
        <div class="m-card">
          <h3 class="title">
            45分钟课程
          </h3>
          <div class="p-list">
            <i class="iconfont icon-icon02 warn"></i>&nbsp;&nbsp;2017‐3‐12 周日  14:00 ~ 14:45
          </div>
          <div class="p-list">
            <i class="iconfont icon-iconfontqupu warn"></i>&nbsp;&nbsp;陪练曲谱&nbsp;&nbsp;<span class="point"></span>
            <div class="p-list-sub">
              <div class="img-con">
                <div class="img-item">
                  <img src="../img/banner.jpg">
                  <i class="iconfont"></i>
                </div>
                <div class="img-item">
                  <img src="../img/avatar.jpg">
                </div>
                <div class="img-item">
                  <img src="../img/avatar.jpg">
                </div>
              </div>
            </div>
          </div>
          <div class="p-list">
            <i class="iconfont icon-beizhu warn"></i>&nbsp;&nbsp;备注
            <div class="p-list-sub">
              无
            </div>
          </div>
          <div class="p-list">
            <i class="iconfont icon-laoshi warn"></i>&nbsp;&nbsp;大老师
          </div>
        </div>
        <div class="m-card">
          <h3 class="title">
            老师资料
          </h3>
          <div class="p-list">
            <div class="avatar f-fl">
              <img src="../img/avatar.jpg">
            </div>
            <div class="teacher-intro f-fl">
              <div class="intro-con">
                <div class="tea-name">
                  大老师
                </div>
                <div class="s-intro">
                  <i class="iconfont icon-icon star"></i>4.8
                </div>
                <div class="s-intro">
                  50次课
                </div>
              </div>
              <div class="intro-con">
                <div class="label btn-pul">
                  比较严厉
                </div>
                <div class="label btn-warn">
                  一
                </div>
                <div class="label btn-warn">
                  一个好人
                </div>
                <div class="label btn-warn">
                  一个好人
                </div>
                <div class="label btn-warn">
                  一好人
                </div>
                <div class="label btn-warn">
                  一个好人
                </div>
                <div class="label btn-warn">
                  一个好人
                </div>
                <div class="label btn-warn">
                  好人
                </div>
              </div>
            </div>
          </div>
          <div class="p-list">
            中国院教授，课堂风格比较严厉，但对学生的指导直达要点。blablabla，陪练效果广受好评。
          </div>
        </div>
        <div class="m-card">
          <h3 class="title">
            老师点评
          </h3>
          <div class="p-list">
           lkdnfjsdfndsfsafasfasdasd
           akdjnaskjdnaskjndasdfqfqwfqwfasdasd
           kjdnaskjdnakjsnd
          </div>
        </div>
        <div class="m-card">
          <a href="#" class="l-list rate">
            <div class="class-name">
              评价老师
            </div>
            <button class="btn func small">立即评价</button>
          </a>
        </div>
        <div class="m-card">
          <a href="#" class="l-list rate">
            <div class="class-name">
              评价老师
            </div>
            <div class="func">
              您已评价&nbsp;
              <span><i class="iconfont icon-icon star"></i><i class="iconfont icon-icon star"></i><i class="iconfont icon-icon star"></i><i class="iconfont icon-icon star"></i><i class="iconfont icon-icon star"></i></span>
            </div>
          </a>
        </div>
      </div>
    </body>
</html>