<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>The ONE在线钢琴陪练</title>
    </head>
    <body>
        <script>
            document.documentElement.style.fontSize = window.innerWidth / 7.5 + 'px';
        </script>
        <div class="g-bd">
            <div class="timepick-radio flex">
                <div class="line-four">
                    <input type="radio" name="time" id="1"><label class="default disabled" for="1">10:00</label>
                </div>
                <div class="line-four">
                    <input type="radio" name="time" id="2"><label class="default" for="2">10:00</label>
                </div>
                <div class="line-four">
                    <input type="radio" name="time" id="3"><label class="default" for="3">10:00</label>
                </div>
                <div class="line-four">
                    <input type="radio" name="time" id="4"><label class="default" for="4">10:00</label>
                </div>
                <div class="line-four">
                    <input type="radio" name="time" id="5"><label class="default" for="5">10:00</label>
                </div>
                <div class="line-four">
                    <input type="radio" name="time" id="6"><label class="default" for="6">10:00</label>
                </div>
            </div>
        </div> 
    </body>
</html>