//button
.btn{
    width: 100%;
    color: #fff;
    background-color: #fe573d;
    height: .9rem;
    border-radius: .08rem;
    border: none;
    font-size: .28rem;
}
.btn-disabled{
    background-color: #ccc;
}
.big{
    margin-top: 0.4rem;
    font-size: .36rem;
}
//flex
.flex{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    .vcode{
        width: 3.6rem;
    }
    .vcode-btn{
        width: 2.4rem;
    }
}
.m-info{
    font-size: .22rem;
    color: #aaa;
}
//frames
.g-banner{
    width: 100%;
    line-height: 1;
    img{
        width: 100%;
    }
}
.g-bd{
    padding: .2rem .3rem;
}
//form
.m-form{
    padding: 0 .3rem;
    .input-con{
        margin-bottom: .3rem;
        line-height: .9;
        input{
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            border: .02rem solid #c0c0c0;
            outline: none;
            height: .9rem;
            padding: 0 .24rem;
            border-radius: .08rem;
            font-size: .28rem;
            -webkit-appearance: none;
        }
    }
}
//weui
.weui-msg{
    p{
        text-align: center;
    }
}
.weui-animate-fade-in{
    font-size: 16px;
}
//resault
.qr{
    width: 50%;
}